/* IMPORTS */

@import url("./catppuccin_frappe.css");
@import url("./fonts.css");


/* MAIN DEFAULTS */

* {
    color: var(--ctp-frappe-text);
    font-family: 'Comfortaa';
    font-weight: 300;
    box-sizing: border-box;
}

body {
    background-color: var(--ctp-frappe-crust);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


/* TEXT DEFAULTS */

h2, h3, h4, h5, h6 {
    font-size: calc(1em + .25vw);
    font-weight: 500;
}

a {
    color: var(--ctp-frappe-blue);
    transition: color .5s;
}
a:hover {
    color: var(--ctp-frappe-yellow);
}


/* SEMANTIC ELEMENTS */

header {
    text-align: center;
    margin: 0 0 46px;
    background-color: var(--ctp-frappe-base);
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

main {
    padding-bottom: 6rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    text-align: center;
    background-color: var(--ctp-frappe-base);
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

/* IDS */

/* containers */

#pageContainer {
    position: relative;
    min-height: 100vh;
}


/* CLASSES */

/* containers */

section.questionContainer, section.errorContainer {
    width: calc(100vw - 40px);
    max-width: 800px;
    margin: 0 auto 48px;
    background-color: var(--ctp-frappe-base);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

section.errorContainer {
    border: 4px solid var(--ctp-frappe-red);
}
section.errorContainer > p {
    font-size: calc(.75em + .25vw);
}

section.questionHeaderContainer {
    background-color: var(--ctp-frappe-surface1);
    border-radius: 20px;
    padding: 16px;
    margin: 0 0 10px;
}

/* image containers */

img.questionImage {
    border-radius: 20px;
    margin: 0 auto 10px;
    width: 100%;
}

/* buttons */

button.answerButton {
    background-color: var(--ctp-frappe-base);
    transition: border-color .5s;
    border-radius: 20px;
    width: 100%;
    padding: 14px;
    font-size: 1.1em;
    margin: 0 0 10px;
    display: block;
    border: 4px solid var(--ctp-frappe-surface1);
}

section.questionContainer button.answerButton:last-of-type {
    margin: 0;
}

button.ansDefault {
    border: 4px solid var(--ctp-frappe-blue);
}
button.ansDefault:hover {
    cursor: pointer;
    border-color: var(--ctp-frappe-yellow);
}
button.ansDefault:active {
    background-color: var(--ctp-frappe-crust);
}

button.ansDisabled {
    border-color: var(--ctp-frappe-surface1);
}

button.ansTrue {
    border-color: var(--ctp-frappe-green);
}

button.ansFalse {
    border-color: var(--ctp-frappe-red);
}

button.ansDisabled, button.ansTrue, button.ansFalse {
    cursor: not-allowed;
}